body {
  background-color: #240c16;
  color: #f0efa8;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #ff00b7;
}

main {
  width: 90%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: lowTaperFade;
  animation-duration: .67s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

header {
  display: flex;       
  align-items: center;
  justify-content: center;
  gap: 20px;
}

nav ul {
  display: flex;       
  list-style: none;
  justify-content: space-around;
  padding: 0;
  gap: 2rem;
  align-items: center;
}

/* nav shi */
nav ul li {
  font-size: 1.25rem;
  letter-spacing: 2px;
}

li {
  list-style: none;
}

nav {
  margin-bottom: 2rem;
}

/* basic elements */
img {
  max-width: 40rem;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 100;
  font-family: "Roboto Mono", monospace;
}

h2, h3, h4 {
  font-size: 2rem;
  font-family: "Xanh Mono", monospace;
  font-weight: 150;
}

h1 {
  font-size: 3rem;
  font-family: "Xanh Mono", monospace;
  font-weight: 200;
}

.main-title h1 {
  font-style: italic;
  letter-spacing: .5rem;
}

p {
  font-family: "Roboto Mono", monospace;
}

/* form shi */
form {
  padding-bottom: 3rem;
  width: 100%;
}

label {
  font-family: 'Roboto Mono', monospace;
}

input {
  width: 100%;
  border: none;
  background-color: #fcfbcf;
  margin-top: 2rem;
  padding: .5rem;
}

textarea {
  background-color: #fcfbcf;
  width: 100%;
  padding: .5rem;
  margin-top: 2rem;
}

input[type=submit] {
  font-family: 'Xanh Mono', monospace; 
  padding: 1rem;
  margin: .5rem;
  background-color: #f0efa8;
}

input[type=submit]:hover {
  background-color: #fcfbcf;
}

.form-element {
  padding: 2rem 1rem 1rem 1rem;
}

.contact {
  width: 40rem;
}

.contact p {
  width: 100%;
  padding-bottom: 2.5rem;
  text-align: center;
}

.gh-link {
  padding-top: 4rem;
  text-align: right;
}

/* low taper fade */
@keyframes lowTaperFade {
  from {
    opacity: 0;
    transform: translateY(20px);
    blur(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    blur(4px);
  }
}

.section {
  opacity: 0;
}

.seen {
  animation: lowTaperFade 0.67s ease-out forwards;
}

#intro.seen .main-title { animation-delay: 0.1s; }
#intro.seen img { animation-delay: 0.3s; }
#intro.seen nav { animation-delay: 0.5s; }

/* nav animation */
.section ul li {
  opacity: 0;
  transform: translateY(10px);
  will-change: opacity, transform;
}

.seen ul li {
  animation: lowTaperFade 0.67s ease-out forwards;
}

.seen ul li:nth-child(1) { animation-delay: 0.1s; }
.seen ul li:nth-child(2) { animation-delay: 0.2s; }
.seen ul li:nth-child(3) { animation-delay: 0.3s; }
.seen ul li:nth-child(4) { animation-delay: 0.4s; }
.seen ul li:nth-child(5) { animation-delay: 0.5s; }
.seen ul li:nth-child(6) { animation-delay: 0.6s; }
.seen ul li:nth-child(7) { animation-delay: 0.7s; }
