body {
  font-family: "Roboto Mono", monospace;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #ff00b7;
}

main {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: lowTaperFade;
  animation-duration: .67s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

header {
  display: flex;       
  align-items: center;
  justify-content: center;
  gap: 20px;
}

nav ul {
  display: flex;       
  list-style: none;
  justify-content: space-around;
  padding: 0;
  gap: 2rem;
  align-items: center;
}

nav ul li {
  font-size: 1.25rem;
  letter-spacing: 2px;
}

li {
  list-style: none;
}

nav {
  margin-bottom: 2rem;
}

video {
  max-width: 50rem;
  padding: 4rem 0 2rem 0;
}

#content {
  text-align: left;
  padding: .6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#content article {
  padding: 2rem;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 2rem;
  padding: 3rem;
}

#gallery a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  overflow: hidden; 
  align-items: center;
  transition: transform 0.2s ease;
}

#gallery a:hover {
  transform: translateY(-5px);
}

.gallery-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;  
  padding: 2rem;
}

#gallery p {
  margin: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* protein specific */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    gap: 1.25rem;
    margin: 0 auto;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-item p {
    padding: 0 1rem;
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.gallery-item p:last-child {
    margin-bottom: 1rem;
}

.data {
  padding-top: 3rem;
}

.data p {
    padding: 0 1rem;
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.data img {
  width: 30rem;
  height: auto;
  display: block;
  padding: 1rem;
}

.command-section {
  max-width: 45rem;
  margin: 2rem auto;
  line-height: 1.6;
}

.command-section h2 {
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.command-section h3 {
  margin-top: 3rem;
}

pre {
  border: 1px white;
  color: #61cf5a;
  font-family: 'Lucida Console', 'Terminal', monospace;
  padding: 1.5rem;
  overflow-x: auto;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 100;
  font-family: "Roboto Mono", monospace;
}

h2, h3, h4 {
  font-size: 2rem;
  font-weight: 150;
}

h1, h2 {
  font-family: "Xanh Mono", monospace;
  letter-spacing: .5rem;
}

h1 {
  font-size: 3rem;
  letter-spacing: .8rem;
  font-weight: 200;
}

.return-signal {
  padding-top: 4rem;
}

@keyframes lowTaperFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* low taper fade */
@keyframes lowTaperFade {
  from {
    opacity: 0;
    transform: translateY(20px);
    blur(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    blur(4px);
  }
}

.section {
  opacity: 0;
}

.seen {
  animation: lowTaperFade 0.67s ease-out forwards;
}

#intro.seen .main-title { animation-delay: 0.1s; }
#intro.seen img { animation-delay: 0.3s; }
#intro.seen nav { animation-delay: 0.5s; }

/* nav animation */
.section ul li {
  opacity: 0;
  transform: translateY(10px);
  will-change: opacity, transform;
}

.seen ul li {
  animation: lowTaperFade 0.67s ease-out forwards;
}

.seen ul li:nth-child(1) { animation-delay: 0.1s; }
.seen ul li:nth-child(2) { animation-delay: 0.2s; }
.seen ul li:nth-child(3) { animation-delay: 0.3s; }
.seen ul li:nth-child(4) { animation-delay: 0.4s; }
.seen ul li:nth-child(5) { animation-delay: 0.5s; }
.seen ul li:nth-child(6) { animation-delay: 0.6s; }
.seen ul li:nth-child(7) { animation-delay: 0.7s; }
